
html {
    height:100%;
}

body {
    height:100%;
    font-family: arial;
    color:#333;
    margin:0;
    overflow:hidden;
}

#header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:150px;
    background-color:#333;
    color:#fff;

    z-index:1000;

    -moz-box-shadow:    0px 0px 40px 0px #000;
    -webkit-box-shadow: 0px 0px 40px 0px #000;
    box-shadow:         0px 0px 40px 0px #000;

    background-image: url('../../images/BrickFacade-rouge.jpg');
}

#header .logo{
    height:150px;
    background: no-repeat url('../../images/middlewar Noir transparent.png');
    margin-left:30px;
}

#header #ressources{
    position:absolute;
    top:30px;
    left:300px;
    width:300px;
    font-size:14px;
}

#header #ressources .ressource{
    width:150px;
    float:left;
    height:25px;
}

#page{
    height:100%;
}

#page #col_left{
    height:100%;
    width:10%;
    min-width:250px;
    background-color:#333;
    color:#fff;
    float:left;
    background-image: url('../../images/BrickFacade-rouge.jpg');
}

#page #col_right{
    height:100%;
    width:85%;
    position:absolute;
    top:0;
    right:0;
    background-color:#fff;
}

#main_menu{
    margin-top:180px;
    margin-left:5%;
    margin-right:5%;
}

#main_menu a{
    color:#fff;
    text-decoration:none;
}

#main_menu ul{
    padding-left:0;
}

#main_menu ul ul{
}

#main_menu li{
    list-style:none;
    padding-top:5px;
    padding-bottom:5px;
    font-size:20px;
    font-weight:bold;
    list-style-position:inside;
}

#main_menu li{
    font-size:16px;
    font-weight:normal;
    padding-left:10px;
    list-style-image:url('../../images/list_style.png');
}

#main_menu li li:hover, #main_menu li li.active{
    background:#646464;
    list-style-image:url('../img/struct/list_style_hover.png');
}

#contenu {
    margin-top:120px;
    margin-left:1%;
    margin-right:0%;
    height:75%;
    overflow:auto;
}

#footer {
    position:absolute;
    bottom:5px;
    text-align:center;
    width:100%;
}

a{
    text-decoration:none;
    color:#333;
}

a:hover {
    color:#999;
}
/*table{
	width:75%;
}
th{
	padding:5px;
	color:white;
	background-color:rgb(51, 51, 51);
}
td{
	border:1px solid;
	padding:5px;
}*/