<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}MiddleWar{% endblock %}</title>
    {% stylesheets '@MiddleWarCoreBundle/Resources/public/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
</head>
<body>

<div id="header">

    <a href="{{ path('home') }}"><div class="logo"></div></a>

    <div id="ressources">

        {% block resources %}
        {% endblock %}
    </div>

    <div id="user">

    </div>

</div>

<div id="page">

    <div id="col_left">

        <div id="main_menu">

            {{ knp_menu_render('MiddleWarCoreBundle:Builder:mainMenu') }}

        </div>

    </div>

    <div id="col_right">
        <br/>
        <div id="principal">
            <br/>
            <div id="contenu" class="panel panel-default">
                <div class="panel-heading"><h4><b></b></h4></div>
                <div class="panel-body">
                    {% block notifs %}
                    {% endblock %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <div id="footer">


            {% block footer %}
            {% endblock %}

        </div>

    </div>

</div>




{% javascripts '@MiddleWarCoreBundle/Resources/public/js/main.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>