{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block content %}
    {% if is_granted("ROLE_USER") %}
        Salut {{ app.user.username }}
    {% endif %}
{% endblock %}